<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2020 NHSX. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="effiia.com.Safe2.sonar.android.app">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--  Fine location needed for bluetooth on Android 9+ : https://developer.android.com/guide/topics/connectivity/bluetooth-le   -->
    <!--  Our minimum is 26 at the moment   -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name="effiia.com.Safe2.sonar.android.app.SonarApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="effiia.com.Safe2.sonar.android.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="effiia.com.Safe2.sonar.android.app.FlowTestStartActivity" />
        <activity android:name="effiia.com.Safe2.sonar.android.app.debug.TesterActivity" />

        <activity
            android:name="effiia.com.Safe2.sonar.android.app.onboarding.MainOnboardingActivity"
            android:label="@string/onboarding_title" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.onboarding.ExplanationActivity"
            android:label="@string/explanation_title" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.onboarding.PostCodeActivity"
            android:label="@string/post_code_title"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.onboarding.PermissionActivity"
            android:label="@string/permission_title" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.onboarding.EnableBluetoothActivity"
            android:label="@string/enable_bluetooth_title" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.onboarding.GrantLocationPermissionActivity"
            android:label=" " />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.onboarding.EnableLocationActivity"
            android:label="@string/enable_location_service_title" />

        <activity
            android:name="effiia.com.Safe2.sonar.android.app.edgecases.ReEnableBluetoothActivity"
            android:label="@string/re_enable_bluetooth_title" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.edgecases.ReAllowGrantLocationPermissionActivity"
            android:label="@string/re_allow_location_permission_title" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.edgecases.ReEnableLocationActivity"
            android:label="@string/re_enable_location_title" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.edgecases.DeviceNotSupportedActivity"
            android:label="@string/device_not_supported_title" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.edgecases.TabletNotSupportedActivity"
            android:label="@string/tablet_support_title" />

        <!-- Space character is used in the label to prevent accessibility manager from announcing app label
             We have custom announcer in the activity itself -->
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.status.StatusActivity"
            android:label=" " />

        <activity
            android:name="effiia.com.Safe2.sonar.android.app.referencecode.ReferenceCodeActivity"
            android:label="@string/reference_code_title" />

        <activity
            android:name="effiia.com.Safe2.sonar.android.app.diagnose.DiagnoseTemperatureActivity"
            android:label=" " />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.diagnose.DiagnoseCoughActivity"
            android:label=" " />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.diagnose.review.DiagnoseReviewActivity"
            android:label="@string/check_answers" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.diagnose.DiagnoseCloseActivity"
            android:label="@string/you_do_not_have_symptoms" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.diagnose.DiagnoseSubmitActivity"
            android:label="@string/please_confirm_the_information" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.diagnose.DiagnoseStomachActivity"
            android:label=" " />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.diagnose.DiagnoseSneezeActivity"
            android:label=" " />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.diagnose.DiagnoseAnosmiaActivity"
            android:label=" " />

        <activity
            android:name="effiia.com.Safe2.sonar.android.app.interstitials.WorkplaceGuidanceActivity"
            android:label="@string/latest_workplace_guidance" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.interstitials.ApplyForTestActivity"
            android:label="@string/apply_for_test_now" />
        <activity
            android:name="effiia.com.Safe2.sonar.android.app.interstitials.CurrentAdviceActivity"
            android:label="@string/current_advice_title" />

        <service
            android:name="effiia.com.Safe2.sonar.android.app.ble.BluetoothService"
            android:enabled="true" />

        <service
            android:name="effiia.com.Safe2.sonar.android.app.notifications.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="effiia.com.Safe2.sonar.android.app.receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="effiia.com.Safe2.sonar.android.app.receivers.PackageReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name="effiia.com.Safe2.sonar.android.app.receivers.TurnBluetoothOnReceiver" />
        <receiver android:name="effiia.com.Safe2.sonar.android.app.receivers.ServiceRestarterBroadcastReceiver" />
        <receiver android:name="effiia.com.Safe2.sonar.android.app.notifications.reminders.ReminderBroadcastReceiver">

        </receiver>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="effiia.com.Safe2.sonar.android.app.exports"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
